<div class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <!-- Logo icon --><b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text --><span>
              <!-- dark Logo text -->
              <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              
            </span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                href="javascript:void(0)"><i class="ti-menu"></i></a>
            </li>
          </ul>

          <ul class="navbar-nav my-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"> </i>
              </a>
              <div class="dropdown-menu dropdown-menu-right scale-up">
                <ul class="dropdown-user">
                  <li>
                    <a href="#"><i class="ti-user"></i> Perfil</a>
                  </li>

                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- Language -->
            <!-- ============================================================== -->
          </ul>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile" style="background: url(../assets/images/background/user-info.jpg) no-repeat;">
          <!-- User profile image -->
          <div class="profile-img"> <img src="../assets/images/users/profile.png" alt="user" /> </div>
          <!-- User profile text-->
          <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="true">...</a>
            <div class="dropdown-menu animated flipInY">
              <a href="#" class="dropdown-item"><i class="ti-user"></i> My
                Profile</a>



              <div class="dropdown-divider"></div> <a routerLink="['']" class="dropdown-item"><i
                  class="fa fa-power-off"></i> Cerrar Sesiòn</a>
            </div>
          </div>
        </div>
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-small-cap">Notificaciones</li>
            <li> <a class="has-arrow waves-effect waves-dark" routerLink=" " aria-expanded="false"><i
                  class="mdi mdi-gauge"></i><span class="hide-menu">Inicio </span></a>
              <ul aria-expanded="false" class="collapse">

              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>

    </aside>


    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
           
          </div>
        </div>
        <div class="row">
          <!-- Column -->
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="row">
                    <div class="col-md-3">
                      <a class="btn btn-success" routerLink="/alerta" routerLinkActive="active"> + Nueva Notificación</a>
                    </div>
                    <div class="col-md-4">
                      <select name="ordenar" id="ordenar" (change)="ordenarLista($event.target.value)"
                        class="form-control">                       
                        <option value="1">Ordernar por: Título ASC</option>
                        <option value="2">Ordernar por: Creacion DESC</option>
                        <option value="3">Ordernar por: Actualizado DESC</option>
                      </select>
                    </div>
                    <div class="col-md-5">
                      <div class="btn-group">
                        <input type="text" class="form-control" name="filtroBusqueda" [(ngModel)]="filtroBusqueda"
                          placeholder="Buscar..." />
                        <button class="btn btn-primary btn-sm">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <br>
                  <table id="demo-foo-accordion" class="table table-bordered m-b-0 toggle-arrow-tiny"
                    data-filtering="true" data-paging="true" data-sorting="true" data-paging-size="7">
                    <thead>
                      <tr>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Tipo Alerta</th>
                        <th>Repetición</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor='let item of items | buscar: filtroBusqueda | paginate: { itemsPerPage: 5, currentPage: pageActual }'>
                        <td>
                          <img src="{{item.imagen}}" width="150px" alt="">
                        </td>
                        <td>{{item.titulo}}</td>
                        <td>{{item.tipo_alerta }}</td>
                        <td>{{item.repeticion }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{item.fecha_creacion}}</td>
                        <td>
                          <a class="btn btn-success" routerLink="/alerta/{{item.key}}" routerLinkActive="active"><i
                              class="fa fa-edit"></i></a>
                        </td>
                        <td>
                          <button *ngIf="item.estado==true" class="btn btn-danger"
                            (click)="cambiarEstadoAlerta(item.key, false, item.titulo)"><i
                              class="fa fa-trash-alt"></i></button>
                          <button *ngIf="item.estado==false" class="btn btn-success"
                            (click)="cambiarEstadoAlerta(item.key, true,item.titulo)">Habilitar</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="footable-paging">
                        <td colspan="8">                     
                          <div class="footable-pagination-wrapper">
                            <pagination-controls class="pagination justify-content-center"
                              (pageChange)="pageActual = $event" responsive="true" directionLinks="true" autoHide="true"
                              previousLabel="" nextLabel="">
                            </pagination-controls>
                            <div class="divider"></div>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer class="footer">© Un producto de Auconsis</footer>

    </div>

  </div>


</div>